@tailwind base;
@tailwind components;
@tailwind utilities;


.page-title {
    font-size: 50px;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    color: #5c2fa8;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    text-decoration: none;
}

h2 {
    
    margin: 0;
    padding: 0;
    color: #441890;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.12;
    text-align: center;
}

p {
    font-size: 17px;
    line-height: 26px;
    color: #3a3a3a;
    text-align: center;
}

.purple{
    color: #9C27B0;
}

.white{
    color: #fff;
}

footer {
    background-color: #9C27B0;
    border-radius: 5px;
    width: 80px;
    justify-content: center;

}

